<form method="post" action="{{ path('internal_entity_delete', {'id': internal_entity.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ internal_entity.id) }}">
    <button class="btn">Delete</button>
</form>
